study_name = "descriptive short study name"
library_type = "paired-end" # ["paired-end", "single-end"]
library_strand = "NONE" # ["SECOND_READ_TRANSCRIPTION_STRAND", "FIRST_READ_TRANSCRIPTION_STRAND", "SINGLE_STRAND", "SINGLE_REVERSE", "NONE"] "{{ cookiecutter.rna_library_strand }}" 

# edgeR results filtering
edgeR_FDR_thr = 0.05

# sample annotation (read from samples.tab)
sample_column = "sample_id" # where are sample ids stored; we expect bam names: sample_id1.bam, sample_id2.bam, ...
treatment_column = "treatment_id"
control_name = "DMSO" # name of controls in the treatment_column, other samples are compared to these marked controls
separate_column = "" # separate comparisons by grouping samples on separate_column? if "", do not separate
group_column = "" # only include DMSOs in the same range as compounds (compound replicates on plate1,plate2,plate3? only include DMSO from plate1,plate2,plate3)

# genome
species = "homo_sapiens"
genome_version = None # pybio genome version, leave None to take latest Ensembl version
bam_path = "" # path to folder with .bam files
# gtf_path : path to gtf file (this is retrieved from pybio using the provided species)
# fasta_path : path to fasta file (this is retrieved from pybio using the provided species)

# shorted sample annotation names
short_names = []

# scanRBP
scanRBP = False # run scanRBP? (False / True)
protein = "K562.TARDBP.0"
protein_label = "tdp43" # used in file names and titles

# platform and container
platform = "desktop" # "desktop" or "cluster" (HPC with SLURM)

# leaving the container empty will use software dependencies installed on your system
container = ""

# using this container definition will import a Docker image to your singularity and use dependencies
#container = "singularity run docker://ghcr.io/bedapub/splicekit:main"